<?php
 $bg_color = get_sub_field('content_background_color');
 $links = get_sub_field('links');
 $subtitle = get_sub_field('subtitle');
 $title = get_sub_field('title');
 $desc = get_sub_field('description');
 $image = get_sub_field('image');
 if ($subtitle) {
     $aclass = "has-subtitle";
 } else {
     $aclass = "no-subtitle";
 }
?>

<section class="two-panel-section">


        <div class="row">
                    <div class="col-sm-12 col-lg-6 col-md-6 panel-image">
                    <img src="<?php echo $image['sizes']['medium'];?>" alt="<?php echo $image['alt']; ?>" class="content-panel-image" />
                    </div>
                    <div class="col-sm-12 col-lg-6 col-md-6 panel-content <?php get_bgcolor_class($bg_color); echo " " . $aclass; ?>" style="background-color:<?php echo $bg_color;  ?>;">
                    <div class="two-panel-content-container">
<?php if ($subtitle) { ?>   <h4 class="content-panel-subtitle"><?php echo $subtitle;  ?></h4> <?php } ?>
                    <h3 class="content-panel-title"><?php echo $title;  ?></h3>
                    <div class="content-panel-description"><?php echo $desc;  ?></div>
                 <?php   if (have_rows('links')):

                // loop through the rows of data
                while (have_rows('links')) : the_row();
                $link = get_sub_field('link');
                ?>
                <div class="panel-link">
                    <a href="<?php echo $link['url']; ?>" ><?php echo $link['title']; ?><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 9">

<g fill="none" fill-rule="evenodd" stroke="#1E5983" stroke-width="1.5">
  <path d="M24.49999994.50000003l3.5355339 3.5355339-3.5355339 3.53553391"/>
  <path stroke-linecap="square" d="M1 4h26"/>
</g>
</svg></a>
                </div>  <?php
                endwhile;
            endif;
            ?>
            </div>
                    </div>
        </div>
 
</section>